.sneaker {
  width: 210px;
  padding: 0 35px;
  padding-bottom: 25px;
  border-radius: 40px;
  border: 1px solid #f3f3f3;
  background: #fff;
  h2 {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }
}
.infoDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  img {
    cursor: pointer;
  }
}
.price {
  h3 {
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: #bdbdbd;
  }
  p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
