.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  border-radius: 20px;
  border: 1px solid #f3f3f3;
  margin-bottom: 15px;
  .name {
    line-height: normal;
    width: 150px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    span {
      margin-top: 8px;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-weight: 700;
    }
  }
  img {
    width: 70px;
  }
  button {
    cursor: pointer;
    border: none;
    outline: transparent;
    background: none;
    img {
      width: 32px;
      height: 32px;
    }
  }
}
